@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mini {
    width: 100%;
    @include flex;
    justify-content: space-between;
}

@mixin Button {
    height: 48px;
    padding: 12px 28px;
    border-radius: 24px;
    background-color: $green;
    color: $white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    border: 0;
    transition: transform 300ms ease, box-shadow 300ms ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
        transform: scale(1.05);
    }
}